<h2>Update the drone</h2>
<form action="/drones/{{currentDrone._id}}/edit" method="POST" >
    <label for="name">update name</label>
    <input type="text" name="name" value='{{currentDrone.name}}'>

    <label for="propellers">update the number of propellers</label>
    <input type="number" name="propellers" id="propellers" value='{{currentDrone.propellers}}'>

    <label for="maxSpeed">update max speed</label>
    <input type="number" name="maxSpeed" id="maxSpeed" value='{{currentDrone.maxSpeed}}'>

    <input type="submit" value="edit this drone">
</form>